<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head>
        <title>Estrogens.rocks</title>

        <meta property="og:title" content="Estrogen synthesis for beginners">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://estrogens.rocks">
        <meta property="og:image" content="https://estrogens.rocks/static/mig31.jpg">
        <meta property="og:description" content="A simple personal website">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A simple personal website">

        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <h1>estrogens.rocks</h1>
        <h2></h2>
        <h3>
            <!--AmogOS. <br> -->

            View PGP public key <a href="https://estrogens.rocks/roylat.pub.asc.txt">here</a>
        </h3>
        <div>
            <table>
                <tr>
                    <th>Projects</th>
                    <th>Contact</th>
                    <th>Essays</th>
                </tr>
                <tr>
                    <th><a href="https://github.com/unix-witch/SabotOS">SabotOS: A operating system named after APFSDS</a></th>
                    <th><a href="https://github.com/unix-witch/">Github</a></th>
                    <th>Coming soon</th>
                </tr>

                <tr>
                    <th><a href="https://github.com/unix-witch/bruhmoment">Bruh Moment: A proxy server to evade filters and censorship</a></th>
                    <th><a rel="me" href="https://queer.party/@unix_witch">Mastodon</a></th>
                </tr>

                <tr>
                    <th><a href="https://github.com/unix-witch/token">A way to encode / decode JWT tokens in PHP</a></th>
                    <th><a href="mailto:linux_witch@estrogens.rocks">Email</a></th>
                </tr>

                <tr>
                    <th></th>
                    <th>Mig-25#1290</th>
                </tr>
            </table>
        </div><br>

        <iframe src="https://john.mondecitronne.com/embed?ref=estrogens.rocks" style="margin-left:auto;display:block;margin-right:auto;max-width:732px;width:100%;height:94px;border:none;"></iframe>
    </body>
</html>