<!DOCTYPE html>
<html>
    <head>
        <title>Estrogen Addict</title>

        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="window">
            <h1 class="window-title"><span>Among</span></h1>
            <div>
                
                <div style="text-align: left; margin-right: 5%;">
                    <img src="/images/pfp.png" style="margin-left: 5%; float: left; margin-right: 3%;;" width="27%">
                    <h2 style="text-align: center;">Natalie BSD</h2>
                    <p>
                        Hello! Im a transgender programmer currently making a high fidelity
                        flight simulator and a N-Body spaceship building game.<br><br>

                        View my PGP key <a href="/other/roylat.pub.asc">here</a><br><br>
                        I've made a variety of things, including
                        <ul> 
                            <li>a Z-80 homebrew computer,</li>
                            <li><a href="https://github.com/unix-witch/uniblock">unblockers</a>,</li>
                            <li><a href="https://github.com/unix-witch/LOL-banner">A discord bot that bans League of Legends players</a>,</li>
                            <li><a href="https://github.com/unix-witch/token">A basic JWT implementation in PHP</a></li>
                            <li><a href="https://github.com/unix-witch/jpeg-camera">and software that decreases camera quality</a></li>
                        </ul>
                    </p>
                    <br><br style="clear:both;">
                    <hr>

                    <p style="margin-left: 5%">
                        <p style="text-align: center; margin-left: 5%;">
                            <a href="twitter.com/estrogens_rocks">twitter</a>
                            <a href="github.com/unix-witch">github</a>
                            <a href="queer.party/@unix_witch">mastodon</a><br><br>
                        </p>

                        <p style="margin-left: 5%;">
                            Interests: 

                            I'm mostly interesting in programming in C / PHP / Python, however,
                            I am also interested in non-programming related things, such as 
                            military aviation, flight simulation, and N-body simulations.
                        </p>
                    </p>
                </div>

                <iframe src='https://overengineering.kognise.dev/embed/roylatgnail' title='overengineeRING embed' width='90%' height='70' style='user-select: none;' frameBorder='#111'></iframe>
                <iframe src="https://nojs.sugarfi.dev/embed.php?url=https://estrogens.rocks" width="90%" height="70" frameborder="0" style="border: 1px solid #111"></iframe>
            </div>
        </div>
    </body>
</html>
