h1 {text-align: center; font-family: Liberation Sans; color: black;}
h2 {text-align: center; font-family: Franklin Gothic; color: black;}
p {text-align: center; font-family: Franklin Gothic; color: black;}
body { background-color: white; color: white; color: black;}

center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

estrogen {
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center img {        
  display:block;
  margin-left:auto;
  margin-right:auto;
}
